html{margin:0px auto;
     background-color:rgb(150,190,255);
     color:rgb(60,60,60);
     font-size:13px;
     font-family:Century Gothic;
}

body{width:1000px;
     margin:0px auto;
}

.menu{
      position:absolute;
      width:200px;
      height:400px;
      background-color:rgb(255,255,255);
      border-radius:0px 5px 5px 0px;
      left:0%;
      top:50%;
      margin-top:-200px;
      box-shadow:0px 0px 5px rgb(140,190,245);
 }
.option{background-color:rgb(230,230,230);
        
        padding:5px;
        color:white;
        border-radius:3px;
        cursor:pointer;

}
.seleted_option{
            background-color:rgb(160,160,180);
        
        padding:5px;
        color:white;
        border-radius:3px;
        cursor:pointer;}
.option:hover{box-shadow:inset 0px 0px 4px rgb(200,200,200);

}

.display{width:600px;
         height:250px;
         margin-top:20px;
         border-radius:5px;
         margin-left:200px;

}
.load{
     padding-top:60px;
}

.load_box{text-align:center;
} 
.heading_display{height:24px;
                text-align:center;
                background-color:rgb(120,150,200);
                border-bottom:1px solid rgb(100,130,180);
                border-radius:5px 5px 0px 0px;
                color:white;
                font-family:Candara;
                font-size:15px;
                padding-top:5px;
                text-shadow:1px 1px 1px rgb(100,130,180);
                  
}
.body_display{ font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
                height:199px;
                padding:10px;
                background-color:white;
                border-radius:0px 0px 5px 5px;
         overflow:hidden;
         overflow-y:auto;
}

.other_tab{width:600px;
           margin-left:200px;
}

.input{width:298px;
       height:30px;
       padding-left:10px;
       border-radius:4px;
       margin-top:10px;
       border:0px;
       margin-left:0px;
       outline-color:rgb(0,0,100);
       color:rgb(50,50,50);
       font-size:13px; 
       font-family:Droid Sans;
}
.pad{width:800px;
     margin-left:100px;
     margin-top:10px;
     height:300px;
     /*background-color:rgb(39,40,34);*/
     border-radius:5px;
}

.real_pad{width:95%;
          height:100%;
          background-color:rgb(39,40,34);
          border-radius:0px 5px 5px 0px;
          resize:none;
          border:none;
          color:white;
          padding:5px;
          outline:none;
          font-family:Droid Sans;
          line-height:16px;
          font-size:13px;
          float:right;
}

.no_left{background-color:white;
         width:5%;
         float:left;
         font-size:13px;
         cursor:pointer;
         height:295px;
         padding-top:5px;
         border-radius:5px 0px 0px 5px;

}
.nos{width:100%;
	 text-align:center;
	 line-height:16px;

}
.menu_head{height:24px;
           border-bottom:1px solid rgb(200,20,0);
           background-color:rgb(220,40,40);
           border-radius:0px 5px 0px 0px;
           color:white;
           text-align:center;
           padding-top:5px;
}

.menu_body{padding:10px;
           overflow:hidden;
           overflow-y:auto;
}

         

